{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hashminers | {% block title %} {% endblock title %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="csrf-token" content="{{ csrf_token }}">
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            const token = document.querySelector('meta[name="csrf-token"]').content;
            event.detail.headers['X-CSRFToken'] = token;
        });
        </script>


        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo/favicon.png' %}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/spacing.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- preloader end  -->

        <!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        {% include 'partials/navbar.html' %}

        {% block content %}
        <!-- main-area-start -->
        <main>

        </main>
        {% endblock content %}

        {% include 'partials/footer.html' %}




        <!-- JS here -->
        <script src="{% static 'assets/js/jquery.js' %}"></script>
        <script src="{% static 'assets/js/waypoints.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
        <script src="{% static 'assets/js/slick.js' %}"></script>
        <script src="{% static 'assets/js/magnific-popup.js' %}"></script>
        <script src="{% static 'assets/js/nice-select.js' %}"></script>
        <script src="{% static 'assets/js/counterup.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/isotope-pkgd.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
        <script src="{% static 'assets/js/countdown.js' %}"></script>
        <script src="{% static 'assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'assets/js/meanmenu.js' %}"></script>
        <script src="{% static 'assets/js/jquery.knob.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>